# MongoDB
MONGO_HOST=mongosource
MONGO_PORT=27017

# PostgreSQL
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_ADMIN_USER=postgres
POSTGRES_ADMIN_PASSWORD=no_password

# Superset
SUPERSET_ADMIN_USERNAME=admin
SUPERSET_ADMIN_PASSWD=admin
SUPERSET_SECRET_KEY=long_random_string
MAPBOX_API_KEY=